.home13{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    background-color: white;
}
.home13-part1{
display: flex;
flex-direction: row;
padding: 20px;
padding-top: 0px;
justify-content: center;
align-items: center;
}
 .home13-part1 img{
    padding: 10px;
    height: 40px;
 }
 .home13-part2{
/*     display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0px 20px; */


    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start

    }
 .home13-part2 div{
    width: 20%;
    padding: 20px 10px;
    font-weight: 400;
    text-align: center;
 }
 .home13-part2 div h2{
    margin-bottom: 10px;
 }
 .home13-part2 div p{
    margin-top: 2px;
    font-size: 14px;
    color: #535b62;
 }
 .home13-part3{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 35px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #F1F0F1;

 }
 .home13-header{
    margin-top:15px ;
    font-size: 12px;
    font-weight: 900;
 }
 .home13-description{
    font-size: 11px;
    text-align: justify;
 }


 @media (max-width: 767px){
    .home13-part2{
        flex-wrap: wrap;
    }
 .home13-part2 div{

    width: 40%;
 }
 }
 @media (max-width: 500px){
    .home13-part2 div{
        width: 100%;
    }
 }