.home8 {
  display: flex;
  flex-direction: row;
}
.home8-left {
  width: 55%;

  padding: 80px;
  background-color: #f0342c;
}
.home8-img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.home8-right {
  padding: 50px 100px;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.home8-text1 {
  font-size: 32px;
  font-weight: 900;
}
.home8-text2 {
  font-size: 18px;
  font-weight: 900;
  margin-top: 20px;
}
@media (max-width: 700px) {
  .home8 {
    flex-direction: column;
  }
  .home8-left {
    width: 100%;
  }
  .home8-right {
    width: 100%;
  }
}
@media (max-width:500px) {
  .home8-right{
    padding: 50px 25px;

  }
  .home8-text2{
    width: 100%;
    text-align: justify;
  }
}