@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* 
 

/* navbar style start  */

.main-nav {
  background-color: white;
  z-index: 9;
  width: 100%;
  height: 10vh;
  display: grid;

  grid-template-columns: 3rem 1fr 2fr 1fr 5rem;
  box-shadow: 0px 15px 10px -15px rgb(174, 171, 171);    
}

.logo {
  display: grid;
  align-items: center;
  grid-column: 2/3;
  justify-content: start;
  height: 8vh;
}
.logopic {
  width: 75%;
  height: 50%;
  margin-left: 5rem;
}
.menu-link {
  grid-column: 3/4;
}

.menu-link ul {
  padding: 0 8rem;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.login-home {
  grid-column: 4/5;
}
.login-home ul {
  padding: 2rem;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.login-home-button {
  width: 240%;
  padding: 0.7rem 0;
  border: 0cm;
  background-color: white;
  border-radius: 5px;
  color: black;
  font-size: 14px;
}
.signup-home-button {
  width: 240%;
  padding: 0.7rem 0;
  border: 0cm;
  background-color: #017ee4;
  border-radius: 100px;
  font-size: 14px;
}
/* ----------- Grid part ends ----------------- */

.menu-link ul li {
  font-size: 14px;
}

.menu-link ul li a {
  text-transform: capitalize;
  color: rgba(0, 0, 3, 0.8);
  transition: 0.5s;
}
.menu-link ul li:hover > a {
  transform-origin: left;
  color: rgba(0, 0, 3, 1);
  text-decoration: underline;
  transition: 0.5s;
}
.hamburger-menu {
  display: none;
}
.slider-menu{
  display: none;
}
/* responsive css style  */
@media (max-width: 1080px) {
  .main-nav {
    height: 8vh;
    grid-template-columns: 2rem 1fr 3fr 2fr 2rem;
  }
  .slider-menu{
    display: none;
    
  }
  .logo,
  .menu-link ul,
  .login-home {
    height: 8vh;
  }
}

/* responsive css style  */
@media (max-width: 998px) {
  .main-nav {
    height: 8vh;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
  }

  .menu-link,
  .login-home {
    display: none;
  }

  .logo {
    height: 8vh;
  }
  .login-home-button {
    grid-column: 3/8;
    z-index: 99;
    display: grid;
  }

  .hamburger-menu {
    display: grid;
    font-size: 4remrem;
    grid-column: 4/5;
    margin-right: 2rem;
    justify-content: center;
    align-items: center;
  }
}

/*sider*/

.slider-menu {

  position: fixed;
  right: 0cm;
  top: 8vh;
  width: 100%;
  z-index: 998476;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 51vh;
  align-items: flex-start;
  box-shadow: 0 0 5px #b1abab;


  padding: 0px 30px;
}

.slider-part2 ul {
  display: flex;
  height: 35vh;
  font-size: 18px;
  flex-direction: column;
  justify-items: baseline;
  padding-top: 4rem;
}
.slider-part2 ul li {
  padding-bottom: 2.5rem;
}

.slider-part3 {
  height: 14vh;
  display: flex;
  gap: 2.5rem;
  width: 100%;
  flex-direction: column;
}
.slider-button2 {
  width: 100px;
  padding: 0.7rem 0;
  border: 0cm;
  background-color: #017ee4;
  border-radius: 100px;
  font-size: 16px;
}
.slider-button1 {
  width: 100px;
  padding: 0.7rem 0;
  border: 0cm;
  background-color: white;
  border-radius: 5px;
  color: black;
  font-size: 18px;
  text-align: start;
}
.slider-part2 ul li:hover {
  font-weight: bolder;
}
.icon-button1 {
  border: none;
  color: #054067;
  background-color: white;
  font-size: 2.5rem;
}

